<div class="container">
  <div class="content">
<!--       
  <ng-template #modal>
      <div class="modal-header">
        <h3 class="modal-title">Add pet</h3>
        <button class="close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="petForm">
              <div>
                <label>species</label>
                <input formControlName='species'>
              </div>
      
              <div>
                <label>name</label>
                <input formControlName='name'>
              </div>
      
              <div>
                <label>photo</label>
                <input formControlName='photo'>
              </div>
      
              <div>
                <label>weight</label>
                <input formControlName='weight'>
              </div>
      
              <div>
                <label>date of birth</label>
                <input formControlName='age'>
              </div>
      
              <div>
                <label>coat</label>
                <input formControlName='coat'>
              </div>
      
              <div>
                <label>note</label>
                <input formControlName='note'>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(modal)">Add pet</button>
 -->

 <button (click)="openFormModal()">Open Modal</button>

    <div class="pets">
      <app-pet class='pet' *ngFor='let pet of pets' [pet]='pet'></app-pet>
    </div>

    <div class="pet-details">
      <app-pet-details [pet]='pet'></app-pet-details>
    </div>

  </div>
</div>