<div class="navigation">
    <i *ngIf="state === 'show'; else hide"
    (click)="toggleState()"
    class="menu fa fa-bars fa-lg"
  ></i>
  <ng-template #hide>
    <i
      (click)="toggleState()"
      class="menu fa fa-times fa-lg"
    ></i>
  </ng-template>

  <div
    [@state]="state"
    class="list"
  >
    <ul>
      <li>
        <img src="../../../assets/rat.png">
      </li>

      <li>
        <img src="../../../assets/scale.png">
      </li>

      <li>
        <img src="../../../assets/measurement.png">
      </li>
    </ul>
  </div>
</div>

<!-- <div *ngIf="state === 'show'; else hide">
  <i
    [@state]="state"
    (click)="toggleState()"
    class="menu fa fa-bars fa-lg"
  ></i>
</div>

<ng-template #hide>
  <div class="hideMenu">
  <i
    (click)="toggleState()"
    class="menu fa fa-times fa-lg"
  ></i>

  <div
    [@state]="state"
    class="list"
  >
    <ul>
      <li>
        <img src="../../../assets/rat.png">
      </li>

      <li>
        <img src="../../../assets/scale.png">
      </li>

      <li>
        <img src="../../../assets/measurement.png">
      </li>
    </ul>
  </div>
  </div>
</ng-template> -->